html,
body {
  height: 100%;
}

body {
  background-color: #dad3d2;
  font-family: "Press Start 2P", cursive;
  padding-left: 1%;
  padding-right: 1%;
}

h1,
h3 {
  text-align: center;
}

#add {
  color: green;
}

#sailform {
  text-align: center;
}

#portmap {
  display: grid;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 1250px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url("../images/water0.png");
  border: 2px solid black;
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url("../images/port.png");
}

#ship {
  background-image: url("../images/ship.png");
  width: 128px;
  height: 64px;
  position: absolute;
}

#sailbutton {
  border: 0;
  border-top: 5px solid black;
  background-color: white;
  font-family: inherit;
  padding: 20px 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Press Start 2P", cursive;
}

#sailbutton:focus {
  background-color: white;
  border-bottom-width: 0;
  border-top: 5px solid black;
  padding-top: 14px;
}

#message {
  padding: 16px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 2px solid black;
  background-color: white;
}
